# Ignore the virtual environment directory
venv/

# Env files
.env

# Node.js dependencies
node_modules/

# Python cache files
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist/
build/

# Ignore wav/webm files
*.wav
*.webm
