/* src/styles/Login.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensure padding and borders are included in the width/height */
}

html,
body {
  height: 100%;
  /* Make sure the body takes up the full height */
  font-family: Arial, sans-serif;
  /* A clean font */
}

.box-container {
  max-width: 100%;
  width: 100%;
}

.panel-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.panel {
  width: 45%;
  /* Each element takes 45% of the container's width */
  padding: 0 20px 20px;
  margin: 0 10px 10px;
  border-radius: 10px;
  align-self: end;
}

.accent-button {
  background-color: #7B68B2;
  /* Pink cancel button */
  border: none;
  padding: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  min-height: 50px;
  width: 100%;
  /* Stretch the button to match the input width */
}

.accent-button:hover {
  background-color: #B4A7D6;
  /* Slightly lighter on hover */
}

form {
  width: 100%;
}

h2 {
  color: #70528b;
  /* Slightly darker purple for the heading */
  font-size: 24px;
}


h1 {
  font-size: 2rem;
  color: #70528b;
  margin-bottom: 20px;
}

label {
  font-size: 1.4rem;
  color: #4e4b50;
  display: block;
  font-weight:bold;
  text-align: start;
}

input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  text-align: start;
}