/* src/styles/Matchmaking.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and borders are included in the width/height */
  }
  
  html, body {
    height: 100%; /* Make sure the body takes up the full height */
    font-family: Arial, sans-serif; /* A clean font */
  }

  h2 {
    color: #70528b; /* Slightly darker purple for the heading */
    font-size: 24px;
  }
  
  .code-box {
    background-color: #d3c5e0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 3em 0;
  }
  
  .code-box h1 {
    width: 100%;
    font-size: 48px;
    color: #4a2e61;
  }
  
  p {
    width: 100%;
    color: #6b5b85;
    font-size: 18px;
    font-weight: bold;
  }
  
  .waiting-text {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .cancel-button {
    background-color: #ff89c0; /* Pink cancel button */
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .cancel-button:hover {
    background-color: #f3b6d7; /* Slightly lighter pink on hover */
  }
  