.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; /* Full viewport width */

    background-color: #b590d3; /* Light purple background */
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .logo {
    height: 50px; /* Adjust to the size of your logo */
  }
  
  .match-title {
    font-size: 36px;
    color: #D1C1F1; /* Soft purple text */
  }
  
  .match-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .player-box {
    width: 150px;
    height: 150px;
    background-color: #78E8E6; /* Light blue background */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
  }
  
  .player {
    font-size: 24px;
    color: #6B48A0; /* Purple text */
  }
  
  .vs {
    font-size: 36px;
    color: #6B48A0;
  }
  
  .countdown {
    margin-top: 30px;
    font-size: 48px;
    color: #6B48A0;
  }
  