/* General Styling */

.white-box {
  background-color: #e1d5ee;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card {
  background-color: #e1d5ee;
  border: 2px solid #7B68B2;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* Panels */

.panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: 20px; /* Increase for more rounded edges */


}

.panel2 {
  width: 50%;
  padding-top: 20%;
  background-color: #f9f9f9;
  border-radius: 20px; /* Increase for more rounded edges */

  border: 1px solid #020202;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.translate-header {
  padding-top: 5%;
}

.translate-word {
  padding-top: 2%;
  font-style: italic;

}
/* Audio Player */

audio {
  width: 80%;
}

/* Text Styling */

.result-word {
  margin-bottom: 10px;
  color: #70528b;
}

.result-word.score {
  margin-bottom: 20px;
}

h1, h3 {
  color: #70528b;
}

p {
  margin-top: 10px;
  color: #6b5b85;
}
