* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensure padding and borders are included in the width/height */
}

html,
body {
  height: 100%;
  /* Make sure the body takes up the full height */
  font-family: Arial, sans-serif;
  /* A clean font */
  overflow: hidden;
  /* Prevent horizontal overflow */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top for vertical scrolling */
  height: 100vh;
  width: 100vw;
  background-color: #b590d3;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.white-box {
  background-color: #e1d5ee;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 80%; /* Adjusted for better fit */
  padding: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #e1d5ee;
  border: 5px solid #7B68B2;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px 0;
  padding: 20px;
}

.audio-player {
  margin: 10px;
  text-align: left;
}

.player-result {
  margin-bottom: 20px;
}

.panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.panel {
  width: 48%;
  background-color: #e1d5ee;
  padding: 10px;
  align-content: center;
  margin-bottom: 10px;
}

.result-word {
  text-align: left;
  margin: 0 0 10px 0;
}

.accent-button {
  background-color: #B4A7D6;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  min-height: 50px;
  width: 100%;
}

.accent-button:hover {
  background-color: #7B68B2;
}

h3 {
  color: #70528b;
  margin-bottom: 10px;
}

h2 {
  color: #70528b;
  font-size: 24px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #70528b;
  margin-bottom: 20px;
}

label {
  font-size: 1.4rem;
  color: #4e4b50;
  display: block;
  font-weight: bold;
  text-align: left;
}

input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.code-box {
  background-color: #d3c5e0;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.code-box h1 {
  font-size: 48px;
  color: #4a2e61;
}

p {
  color: #6b5b85;
  font-size: 18px;
}
