/* Round.css */
.round-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #b590d3; /* Light purple background */
  }
  
  .match-title {
    font-size: 2rem;
    color: #c4b3e6;
    margin-bottom: 1rem;
  }
  
  .progress-indicator {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4b3e6;
  }
  
  .instruction-text {
    font-size: 1.5rem;
    color: #f49ac2;
    margin-bottom: 1rem;
  }
  
  .word-box {
    padding: 20px;
    background-color: #e3d1f9;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  
  .word-box h1 {
    font-size: 4rem;
    color: #7c66a4;
  }
  
  .countdown-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #5562eb, #4ecdc4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
  }
  


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h3 {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    padding: 10px 20px;
    background-color: #5562eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  