aiohttp==3.10.9
aiohttp_cors==0.7.0
grpcio==1.67.0
grpcio-tools==1.67.0
numpy>=2.0.2
protobuf==5.27.2
pymongo==4.10.1
python-dotenv==1.0.1
scipy>=1.13.1
tqdm==4.66.1
websockets==13.1
ffmpeg-python==0.2.0