div {
  width: 100%;
}

.app.container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  background-color: #b590d3;
  /* Light purple background */
}

.container {
  display: block;
  overflow: hidden;
}

.white-box {
  background-color: #e1d5ee;
  display: flex;
  flex-wrap: wrap;
  /* Lighter purple for the box */
  border-radius: 10px;
  text-align: center;
  padding: 30px 30px 60px;
  margin: 3% auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* Make the box take up a majority of the width */
  max-width: 50%;
  min-height: 40vh;
  
}

.white-box > h1 {
  width: 100%;
}

.logo-container {
  text-align: center;
  padding-top: 3%;
}

.logo-container img {
  width: 10em;
  height: 10em;
}